.home {
    .website-description {
        height: calc(100vh - 58px);
        background-image: url('../../assets/Search-Jobs-Apply-Online.webp');
        background-size: cover;
        .overlay {
            position: absolute;
            left: 0;
            top: 58px;
            width: 100%;
            height: calc(100% - 58px);
            background-color: rgba(0, 0, 0, .7);
            .top-search-box {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                .top-search-form {
                    position: relative;
                    .normal-search-btn {
                        position: absolute;
                        left: 155px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .advanced-search-btn {
                    position: absolute;
                    left: 130px;
                    top: 10px;
                }
            }
        }
    }
    .how-website-work{
        background-color: #EEE;
        .use-learn-box{
            border: 3px dashed green;
            border-radius: 5px;
            .manipulation-steps-list-with-website{
                list-style-position: inside;
                li{
                    text-align: justify;
                    line-height: 2;
                }
            }
        }
    }
    .why-are-we-the-best{
        .feature-box{
            transition: .5s;
            h3{
                font-size: 40px;
                width: 60px;
                height: 60px;
                background-color: #FFF;
                color: #000;
                line-height: 60px;
                transition: .5s;
            }
            &:hover{
                padding: 20px;
                box-shadow: 1px 1px 25px yellow ;
                h3{
                    transform: rotate(360deg) scale(1.2,1.2);
                }
            }
        }
    }
}