.home .website-description {
  height: calc(100vh - 58px);
  background-image: url("../../assets/Search-Jobs-Apply-Online.webp");
  background-size: cover;
}

.home .website-description .overlay {
  position: absolute;
  left: 0;
  top: 58px;
  width: 100%;
  height: calc(100% - 58px);
  background-color: rgba(0, 0, 0, 0.7);
}

.home .website-description .overlay .top-search-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.home .website-description .overlay .top-search-box .top-search-form {
  position: relative;
}

.home .website-description .overlay .top-search-box .top-search-form .normal-search-btn {
  position: absolute;
  left: 155px;
  top: 50%;
  transform: translateY(-50%);
}

.home .website-description .overlay .top-search-box .advanced-search-btn {
  position: absolute;
  left: 130px;
  top: 10px;
}

.home .how-website-work {
  background-color: #EEE;
}

.home .how-website-work .use-learn-box {
  border: 3px dashed green;
  border-radius: 5px;
}

.home .how-website-work .use-learn-box .manipulation-steps-list-with-website {
  list-style-position: inside;
}

.home .how-website-work .use-learn-box .manipulation-steps-list-with-website li {
  text-align: justify;
  line-height: 2;
}
